header.page-header {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding: calc($base-unit * 2);

    nav {
        flex: 1;
        display: flex;
        align-items: center;

        h2 {
            color: $white;
        }
    }

}