.single-input-wrapper {
    display: flex;
    flex-direction: column;

    input {
        @include input-style-base;
    }

    ul {
        list-style: none;
        padding: $base-unit;
        background-color: $color-red;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        li {
            color: $white;
            font-weight: 500;
        }
    }

    &.error {
        border: 1px solid $color-red;
        input {
            border: 2px solid $color-red;
            outline: none;

            &::placeholder {
                color: rgba($color-red, .8);
            }
        }
    }
}