$primary-color: #2D9CDB;
$text-title: #4F4F4F;
$text-paragraph: #828282;
$light-grey: #E0E0E0;

$base-unit: 8px;
$border-radius: 4px;
$white: #FFFFFF;
$link: #58A8E2;

$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$break-md: 660px;
$break-lg: 960px;

$color-red: #EA5C5C;